/* NAVBAR */

.desktop{
    display: none;
}

.mobile{
    display: initial;
}

@media(min-width: 750px){
    .desktop{
        display: initial;
    }
    .mobile{
        display: none;
    }
}

@media(min-height: 700px){
    header{
        border-bottom: 0.01vw solid white;
        background-color: rgba(40,40,40,20%);
    }
}

header{
    position: fixed;
    width: 100%;
    height: 10vh;
    padding: 5px 20px;
    top: 0;
    z-index: 2;

    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
}

a.logo{
    width: 60px;
    padding: 0.5vh;
    color: white;
}

header nav.right{
    text-align: right;
}

header nav a{
    text-decoration: none;
    padding: 10px 15px;
    color: white;
}

header nav.desktop a:hover{
    background-color: rgba(40,40,40,20%);
    border-radius: 5px;
}

/* MOBIL NÉZET */

.hamburger{
    display: block;
    position: absolute;
    background-color: #282828;
    text-align: center;
    right: -70%;
    top: 0;
    width: 70%;
    height: 100vh;
    transition: all 1s;
}

.hamburger-links {
    margin-top: 5vh;
}

.hamburger-links a{
    display: block;
    padding: 42.5px;
    color: white;
}

.closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
}