@font-face {
    font-family: "VWfont";
    src: url(files/VWAGTheSans_Regular.ttf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VWfont', sans-serif;
    color: white;
}

html{
    scroll-behavior: smooth;
}

/* NAVBAR */

.desktop{
    display: none;
}

.mobile{
    display: initial;
}

@media(min-width: 750px){
    .desktop{
        display: initial;
    }
    .mobile{
        display: none;
    }
}

@media(min-height: 700px){
    header{
        border-bottom: 0.01vw solid white;
        background-color: rgba(40,40,40,40%);
    }
}

header{
    position: fixed;
    width: 100%;
    height: 10vh;
    padding: 5px 20px;
    top: 0;
    z-index: 2;

    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
}

a.logo{
    width: 60px;
    padding: 0.5vh;
    color: white;
}

header nav.right{
    text-align: right;
}

header nav a{
    text-decoration: none;
    padding: 10px 15px;
}

header nav.desktop a:hover{
    background-color: rgba(40,40,40,20%);
    border-radius: 5px;
}

/* MOBIL NÉZET */

.hamburger{
    display: block;
    position: absolute;
    background-color: #282828;
    text-align: center;
    right: 0;
    top: 10vh;
    width: 100%;
    height: 320px;

    max-width: 0;
}

.hamburger a{
    display: block;
    padding: 42.5px;
}

.menu-btn{
    position: absolute;
    right: 10px;
    height: 50px;
    width: 15vw;
    top: 1.5vh;
    opacity: 0;
    cursor: pointer;
}

.menu-btn:checked ~ .hamburger{
    max-width: 320px;
}

/* KEZDŐLAP */

section{
    height: 100vh;
    background-size: cover;
    background-position: center;
}

section.sec-choose{
    display: flex;
    justify-content: center;
    text-align: center;
}

.modell-choose{
    padding-top: 15vh;
}

.modell-choose a{
    padding: 0 1vw;
    font-size: 20px;
}

.content-belsoeges{
    padding-top: 20vh;
    padding-left: 5vw;
}

.content-belsoeges h1{
    font-weight: 400;
    font-size: 30px;
}

.content-hybrid{
    padding-top: 20vh;
    padding-left: 5vw;
}

.content-hybrid h1{
    font-weight: 400;
    font-size: 30px;
}

.content-elektromos{
    padding-top: 20vh;
    padding-left: 5vw;
}

.content-elektromos h1{
    font-weight: 400;
    font-size: 30px;
}

/* footer */

footer{
    height: 4vh;
    width: 100%;
    background-color: white;
    font-size: 12.5px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p{
    color: #282828;
}