@font-face {
    font-family: "VWfont";
    src: url(files/VWAGTheSans_Regular.ttf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VWfont', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* NAVBAR */

.desktop{
    display: none;
}

.mobile{
    display: initial;
}

@media(min-width: 750px){
    .desktop{
        display: initial;
    }
    .mobile{
        display: none;
    }
}

@media(min-height: 700px){
    header{
        border-bottom: 0.01vw solid white;
        background-color: rgba(40,40,40,40%);
    }
}

header{
    position: fixed;
    width: 100%;
    height: 10vh;
    padding: 5px 20px;
    top: 0;
    z-index: 2;

    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
}

a.logo{
    width: 60px;
    padding: 0.5vh;
    color: white;
}

header nav.right{
    text-align: right;
}

header nav a{
    text-decoration: none;
    padding: 10px 15px;
    color: white;
}

header nav.desktop a:hover{
    background-color: rgba(40,40,40,20%);
    border-radius: 5px;
}

/* MOBIL NÉZET */

.hamburger{
    display: block;
    position: absolute;
    background-color: #282828;
    text-align: center;
    right: -70%;
    top: 0;
    width: 70%;
    height: 100vh;
    transition: all 1s;
}

.hamburger-links {
    margin-top: 5vh;
}

.hamburger-links a{
    display: block;
    padding: 42.5px;
    color: white;
}

.closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
}

/* KEZDŐLAP */

section{
    height: 100vh;
    background-size: cover;
    background-position: center;
}

@media(max-width: 800px){
    section {
        background-size: auto;
        background-position: -900px center;
    }
}

video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
}

.center {
    display: flex;
    justify-content: center;
}

.modell-choose{
    position: absolute;
    margin-top: 15vh;
    text-align: center;
    color: white;
}

.modell-choose h4 {
    font-size: 25px;
    font-weight: 500;
    margin: 15px;
    text-decoration: underline;
}

.modell-choose a{
    padding: 0 1vw;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 10px;
}

.modell-choose a:hover {
    background-color: rgba(40,40,40,20%);
}

.content-scroll {
    position: absolute;
    text-align: center;
    bottom: 10px;
}

.content-scroll p {
    font-size: 1.2em;
    color: white;
    margin: 5px;
}

.content-scroll a {
    text-decoration: none;
}

.content-scroll img {
    width: 20px;
}

.content-belsoeges{
    padding-top: 15vh;
    padding-left: 5vw;
}

.content-belsoeges h1{
    font-weight: 400;
    font-size: 30px;
    color: white;
}

.content-hybrid{
    padding-top: 15vh;
    padding-left: 5vw;
}

.content-hybrid h1{
    font-weight: 400;
    font-size: 30px;
    color: white;
}

.content-elektromos{
    padding-top: 15vh;
    padding-left: 5vw;
}

.content-elektromos h1{
    font-weight: 400;
    font-size: 30px;
    color: white;
}

.table {
    margin-top: 40px;
    width: 270px;
    background: rgba(40,40,40,10%);
    border-radius: 20px;
    padding: 0 5px;

    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    color: white;
}

th,td {
    text-align: center;
    margin: 5px;
    padding: 10px 20px;
}

th {
    border-bottom: 2px solid rgba(40,40,40,50%);
}

/* footer */

footer{
    height: 4vh;
    width: 100%;
    background-color: white;
    font-size: 12.5px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: #282828;
}

footer a {
    color: #282828;
    margin-left: 30px;
}