*{
    margin: 0;
    font-family: 'Poppin', sans-serif;
    color: white;
}

/* NAVBAR DESIGN */

header{
    min-height: 8vh;
    width: auto;
    background-color: #282828;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-brandname a{
    text-decoration: none;
    color: white;
}

.nav-links li{
    display: inline-block;
    margin-right: 15px;
}

.nav-links a{
    text-decoration: none;
    color: white;
}

.nav-links a:hover{
    color: #aaaaaa;
}

/* PAGES */

.page-first{
    height: 92vh;
    width: 100%;

    background-image: url(files/img1.JPG);
    background-size: cover;
    background-position: center;

    display: flex;
    text-align: center;
    justify-content: center;
}

.content1{
    display: absolute;
}

.content1 h1{
    margin-top: 150px;
    font-size: 4em;
}

.content1 p{
    margin-top: 70px;
    font-size: 1.4em;
    margin-bottom: 90px;
}

.btn-boraink{
    border: solid;
    border-color: #282828;
    border-radius: 10px;
    position: absolute;
    background-color: white;
    color: black;
    padding: 10px 30px;
    font-size: 15px;
    left: 45%;
    transition: 1s;
}

.btn-boraink:hover{
    border-color: white;
    color: white;
    background-color: #282828;
    transition: 1s;
}

/* footer design */

footer{
    height: 3vh;
    width: 100%;

    background: #282828;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    margin-right: 20px;
    margin-left: 20px;
}