*{
    margin: 0;
    font-family: 'Poppin', sans-serif;
}

/* NAVBAR DESIGN */

header{
    min-height: 8vh;
    width: auto;
    background-color: #282828;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-brandname a{
    text-decoration: none;
    color: white;
}

.nav-links li{
    display: inline-block;
    margin-right: 15px;
}

.nav-links a{
    text-decoration: none;
    color: white;
}

.nav-links a:hover{
    color: #aaaaaa;
}

/* PAGES */

.page-first{
    height: 92vh;
    width: 100%;

    background-image: url(files/img1.JPG);
    background-size: cover;
    background-position: center;

    filter: blur(8px);
}