@font-face {
    font-family: "VWfont";
    src: url(files/VWAGTheSans_Regular.ttf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VWfont', sans-serif;
    color: white;
    scroll-behavior: smooth;
}

/* NAVBAR */

.mobile{
    display: initial;
}
.desktop{
    display: none;
}

@media(min-width: 750px){
    .desktop{
        display: initial;
    }
    .mobile{
        display: none;
    }
}

@media(min-height: 700px){
    header{
        border-bottom: 0.01vw solid white;
        background-color: rgba(40,40,40,40%);
    }
}

header{
    position: fixed;
    width: 100%;
    height: 10vh;
    padding: 5px 20px;
    top: 0;
    z-index: 2;

    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
}

a.logo{
    width: 60px;
    padding: 0.5vh;
    color: white;
}

header nav.right{
    text-align: right;
}

header nav a{
    text-decoration: none;
    padding: 10px 15px;
}

header nav.desktop a:hover{
    background-color: rgba(40,40,40,20%);
    border-radius: 5px;
}

.hamburger{
    display: none;
    text-align: center;
    width: 50%;
    height: 30vh;
    right: 1px;
    top: 1px;
    align-items: center;
}

.mobile:hover .hamburger{
    display: block;
    position: absolute;
    background-color: #282828;
    padding: 5px 5px;
    border-radius: 3px;
}

.mobile:hover .hamburger a{
    display: block;
    padding: 30px;
}

/* KEZDŐLAP */

section{
    height: 100vh;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    text-align: center;
}

.content-1 h1{
    padding-top: 15vh;
    font-size: 40px;
    font-weight: 400;
}

.content-1 p{
    padding-top: 2vh;
}

.content-2 h1{
    padding-top: 20vh;
    font-size: 40px;
    font-weight: 400;
    color: #282828;
}

.content-2 p{
    padding-top: 5vh;
    color: #282828;
}

.content-2 a{
    color: #282828;
}

/* footer */

footer{
    height: 4vh;
    width: 100%;
    background-color: white;
    font-size: 0.9vw;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p{
    color: #282828;
}